/Assets/** linguist-vendored
/Packages/*.json linguist-vendored
/Packages/com.*/** linguist-vendored
/Packages/dev.*/** linguist-vendored
/ProjectSettings/** linguist-vendored

*.asset merge=unityyamlmerge filter=vrc eol=lf text=auto
*.mat merge=unityyamlmerge eol=lf text=auto
*.meta merge=unityyamlmerge eol=lf text=auto
*.prefab merge=unityyamlmerge filter=vrc eol=lf text=auto
*.unity merge=unityyamlmerge filter=vrc eol=lf text=auto

.coderabbit.yaml export-ignore
.git* export-ignore
.github/** export-ignore
.imgbotconfig export-ignore
